.App {
  text-align: center;
}

.App-logo {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: rgb(251, 254, 255);
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(251, 254, 255);
  color: coral;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #e2f5f8;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 207, 214);
}

#testing123 {
  background-color: white;
  color: #15def8;
  border-color: powderblue;
  width: 100%;
}

#headerCard {
  background-color: #15def8;
  color: white;
  border-color: powderblue;
  width: 100%;
  font-weight: 900;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


